apiVersion: v2
appVersion: "1.1"
description: A Helm chart for civil-general-applications App
name: civil-general-applications
home: https://github.com/hmcts/civil-general-applications
version: 0.0.77
maintainers:
  - name: HMCTS Civil team

dependencies:
  - name: java
    version: 5.3.0
    repository: 'oci://hmctspublic.azurecr.io/helm'
  - name: civil-service
    version: '*'
    repository: 'oci://hmctspublic.azurecr.io/helm'
    condition: civil-service.enabled
